.page {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}

body {
  background-image: linear-gradient(to right, #65799b, #555273);
  height: 100%;
  width: 100%;
}

.text {
  color: #e2eff1;
  font-family:Arial, Helvetica, sans-serif;
}
.tableContainer {
  border-collapse: collapse;
}

.tableheader {
  color:blue;
}

.navButton {
  background-color: #e2eff1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.signOut {
  background-color: #e23e57;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
  border: none;
  color: #e2eff1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.activeUser {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
  color:#e2eff1;
  padding:15px 32px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
}

.navText {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
  color: #555273;
}

.submitButton {
  background-color:green;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
  color:#e2eff1;
  padding:15px 32px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
}
